
<%= render "shared/header" %>

<main role="main">


  <div class="container">
    <div class="card">
      <%= image_tag "nekotaku01.jpg", class:"img-fluid rounded" %>
      <div class="card-img-overlay d-flex justify-content-end align-items-center">
        <a href="#" class="btn btn-info mr-4">Ｍｙ猫登録へ</a>
        <%= link_to "Ｍｙ宅登録へ", new_house_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>

  <div class="bg-light">
    <div class="container">
      <h3 class="py-3">預け先を探そう。</h3>
      <div class="card">
        <div class="card-body p-5">
          <%= search_form_for @p, url: search_houses_path do |f| %>
            <div class="form-group d-flex">
              <div class="d-flex">
                <%=f.label :user_region_id_eq, "エリア", class:"form-text mr-2" %>
                <%= f.collection_select(:user_region_id_eq, Region.all, :id, :name, {}, {class:"form-control"}) %>
              </div>
              <div class='d-flex'>
                <%=f.label :cat_history_id_eq, "猫 歴", class:"form-text mr-2" %>
                <%= f.collection_select(:cat_history_id_eq, CatHistory.all, :id, :name, {}, {class:"form-control"}) %>
              </div>
            </div>
            <div class="form-group">
              <div class=''>
                <label class="form-text">特 徴</label>
              </div>
              <div class="">
                <div class="form-check form-check-inline col-md-4 ml-5">
                  <%= f.check_box(:chara_stay_eq, {class:"my-3"}, 1, 0) %>お泊まり可
                </div>
                <div class="form-check form-check-inline col-md-4 ml-5">
                  <%= f.check_box(:chara_5min_eq, {class:"my-3"}, 1, 0) %>最寄駅から徒歩5分以内
                </div>
                <div class="form-check form-check-inline col-md-4 ml-5">
                  <%= f.check_box(:chara_house_eq, {class:"my-3"}, 1, 0) %>戸建て
                </div>
                <div class="form-check form-check-inline col-md-4 ml-5">
                  <%= f.check_box(:chara_floor_eq, {class:"my-3"}, 1, 0) %>フローリング
                </div>
                <div class="form-check form-check-inline col-md-4 ml-5">
                  <%= f.check_box(:chara_weekend_eq, {class:"my-3"}, 1, 0) %>土日祝日可
                </div>
                <div class="form-check form-check-inline col-md-4 ml-5">
                  <%= f.check_box(:chara_weekday_eq, {class:"my-3"}, 1, 0) %>平日可
                </div>
                <div class="form-check form-check-inline col-md-4 ml-5">
                  <%= f.check_box(:chara_have_cat_eq, {class:"my-3"}, 1, 0) %>飼い猫在り
                </div>
                <div class="form-check form-check-inline col-md-4 ml-5">
                  <%= f.check_box(:chara_tower_eq, {class:"my-3"}, 1, 0) %>キャットタワー有
                </div>
                <div class="form-check form-check-inline col-md-4 ml-5">
                  <%= f.check_box(:chara_camera_eq, {class:"my-3"}, 1, 0) %>Webカメラ有
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="text-center">
                <%= f.submit "見つける", class:"btn btn-info mt-3" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <% @houses.each do |house| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow">
            <%= image_tag house.images.first, class:"card-img-top", height: "225" %>
            <div class="card-body">
              <p class="card-text"><%= house.pr %></p>
              <div class="price mx-auto" style="width: 260px;">
                <% unless house.one_day_price == 0 || house.one_day_price == nil %>
                  <span>日帰り 1h :
                  <%= house.one_day_price.to_s(:delimited) %>
                  <small>円 (税込)</small></span>
                <% else %>
                  <span class="text-white">blank</span>
                <% end %>
                <br>
                <% unless house.stay_price == 0 || house.stay_price == nil %>
                  <span>泊まり 1stay :
                  <%= house.stay_price.to_s(:delimited) %>
                  <small>円 (税込)</small></span>
                <% else %>
                  <span class="text-white">blank</span>
                <% end %>
              </div>
              <div class="d-flex justify-content-between align-items-center mt-3">
                <%= link_to "#{house.user.nickname}さんの詳細", house_path(house.id), class:"btn btn-sm btn-outline-secondary" %>
                <%= image_tag "heart2.png", height: "30", width: "30" %>
              </div>
            </div>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>

</main>

<%= render "shared/footer" %>