<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About Neko-Taku</h4>
          <span class="text-muted">Welcome to our site. Enjoy your life with cats!!</span><br>
          <small class="text-muted">ペットホテルならぬ、個人で猫を預かるサービス『ねこ宅』</small><br>
          <small class="text-muted">ひとり暮らしだから猫を飼えない。猫がいるから出かけられない。誰か預かってくれたら…。一時的に預かれたら…。預ける人も預かる人も、お互いの願いを叶えられる場。猫を通して、人との繋がりも広がる。</small><br>
          
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>About</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>

  <div class="container">
    <div class="header-nekotaku d-flex justify-content-between align-items-center py-3">
      <%= link_to image_tag("rogo.png", width:"75"), "/"  %>
      <nav>
        <ul class="nav nav-pills">
          <li class="header-nekotaku-li"><a href="#"><%=image_tag "heart2.png", class:"w-25" %></a></li>
          <% if user_signed_in? %>
            <li><%= link_to current_user.nickname, root_path, class: "user-nickname text-dark mr-4" %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout text-dark" %></li>
          <% else %>
            <li><%= link_to 'ログイン', new_user_session_path, class: "login text-dark mr-4" %></li>
            <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up text-dark" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>