<%= render "shared/header" %>

<%= form_with model: @user, url: user_session_path,class: 'registration-main', local: true do |f| %>

<div class="card container bg-light my-3">
  <div class='card-header bg-light d-flex justify-content-between align-items-center'>
    <h3 class='ftext-dark ml-5'>
      ログインしよう。
    </h3>
    <small class="text-danger">※ 必須項目</small>
  </div>
  <div class='card-body w-75 mx-auto'>
    <div class='login-flash-message'>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>
    <div class="form-group">
      <div class='d-flex'>
        <label class="form-text">メールアドレス</label>
        <span class="text-danger">※</span>
      </div>
      <%= f.email_field :email, class:"form-control", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
    </div>
    <div class="form-group">
      <div class='d-flex'>
        <label class="form-text">パスワード</label>
        <span class="text-danger">※</span>
      </div>
      <%= f.password_field :password, class:"form-control", id:"password", placeholder:"" %>
    </div>
    <div class='text-center mt-5'>
      <%= f.submit "ログイン" ,class:"btn-lg btn-info" %>
    </div>
  </div>
</div>
<% end %>


<%= render "shared/footer" %>